/* Palette de couleurs (background-color) *
 * ====================================== *
 * Boutons :							  *
 *  - classic : #709CA7					  *
 *  - hover : #137C8B					  *
 *  - active : #344D59					  *
 * ====================================== *
 * Barre de navigation :				  *
 *  - classic : #709CA7					  *
 *  - Élements :						  *
 *    - classic							  *
 *      |=> rgba(10, 124, 141, 0.3)		  *
 *    - hover : #137C8B					  *
 *    - active : #344D59				  *
 * ====================================== *
 * Cellules dans tableau (hors titres) :  *
 *  - classic : #709CA7					  *
 * ====================================== *
 * 
 * 
 */



body {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    margin-top: 0;
    font-family: 'Helvetica', sans-serif;
    
    /* Empêcher la sélection de texte sur les navigateurs */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.error_container{
    text-align: center;
    padding: 50px;
}

.error{
    color: #d9534f;
}

/* Pour surligner une cellule d'un tableau en jaune */
.important-text {
    background-color: #B8CBD0;
}

/* Pour surligner une cellule d'un tableau en noir */
.black-text {
    background-color: black;
}

.any-data{
    color: rgba(10, 124, 141, 0.3);
}

/* Pour le compteur (temps avant la prochaine mise à jour) */
#countdown {
    position: fixed;
    bottom: 10px;
    left: 10px;

    font-size: 2.5vw;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    background-color: #709CA7;
}

@media (min-width: 550px) and (max-width: 800px){
    #countdown{
        font-size: 2vw;
    }
}

@media (min-width: 800px) {
    #countdown{
        font-size: 1em;
    }
}


#countdown .countdown{
    padding: 4px;
    background-color: rgba(10, 124, 141, 0.3);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

::placeholder{
    color: #777;
}


/* Style pour la div des news */
.news-container, .showGraph, .showTable {
    display: flex;
    flex-wrap: wrap;
}

.video-container p, .graph-container p, .table-container p{
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    background-color: #137C8B;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
    .table-container table,
    .video-container p, .graph-container p, .table-container p,
    .navbar li {
        font-size: 3vw;
    }
    
    .table-container{
        max-width: 100px;
        overflow-x: auto;
    }
}

.video-container, .graph-container, .table-container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    aspect-ratio: 16 / 9; /* 16:9 */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);  
}

.table-data{
    overflow-x: auto;
    max-width: 100%;
}

.showGraph .graph-container, .showTable .table-container {
    width: 90%;
    max-width: 900px;
}

.video-container iframe, .graph-container img, .table-container table {
    width: 95%;
    max-width: 95%;
    height: 95%;
    margin: 10px auto;
    margin-bottom: 15px;
    /*object-fit: cover;*/
}



/* Style de tous les boutons hors formulaire */
.button-outside-form{
    padding: 10px 20px;
    background-color: #709CA7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-outside-form a{
    color: #fff;
}

.button-outside-form:hover{
    background-color: #137C8B;
}

.button-outside-form:active{
    background-color: #344D59;
}


/* ############################################ *
 * STYLE POUR LES FORMULAIRES ET LEURS ELEMENTS *
 * ############################################ */

/* Style pour les formulaire et leurs éléments */
form{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F4F4F4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group{
    margin-bottom: 15px;
}

.form-title{
    font-weight: bold;
}

/* Style de tous les boutons dans les formulaires */
form button,form input[type="button"],form input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: #709CA7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover,form input[type="button"]:hover,form input[type="submit"]:hover{
    background-color: #137C8B;
}

form button:active,form input[type="button"]:active,form input[type="submit"]:active{
    background-color: #344D59;
}

/* Style pour les inputs dans les formulaires */
input[type="text"], input[type="password"], textarea, select{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 1s;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus{
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* ############################################ *
 * ############################################ *
 * ############################################ */



/* ######################################### *
 * STYLE POUR LES TABLEAUX ET LEURS ELEMENTS *
 * ######################################### */

/* Style des tableaux */
table{
    border-collapse: collapse;
    width: 60%;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

table caption {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 4px;
    background-color: #137C8B;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}

th{
    background-color: #007BFF;
    color: #fff;
}

th, td{
    text-align: center;
    padding: 10px;
}

tr, td {
    transition: background-color 0.3s;
}

td {
    color: #709CA7;
}

tr:nth-child(even){
    background-color: #F2F2F2;
}

tr:not(.row-graph):hover{
    background-color: #E1E1E1;
}

td:not(.cell-graph):hover{
    background-color: #D0D0D0;
}

/*.column-1:hover {
        .column-1 {
                background-color: #E1E1E1;
        }
        background-color: #E1E1E1;
}*/

.table-title{
    color: #000000;
}

.table-date {
    color: #344D59;
}

.table-container img {
    width: 95%;
    height: 95%;
    margin-bottom: 10px;
    object-fit: cover;
}

.align-left{
    justify-content: flex-start;
}

/*
@media screen and (min-width: 768px) {
        .table-container {
                justify-content: center;
        }
}
*/


/* ######################################### *
 * ######################################### *
 * ######################################### */



/* ################################################# *
 * STYLE POUR LA BARRE DE NAVIGATION ET SES ÉLÉMENTS *
 * ################################################# */

/* Style de la navbar */
.navbar {
    background-color: #709CA7;
    color: #fff;
    border-bottom-left-radius: 20px; /* Coins inférieurs arrondis */
    border-bottom-right-radius: 20px; /* Coins inférieurs arrondis */
    padding: 8px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1);

}


/* Style de la liste non ordonnée (ul) */
.navbar ul {
    list-style: none;
    padding: 0;
}

/* Style des éléments de la liste (li) */
.navbar li {
    display: inline;
    font-weight: bold;
    background-color: rgba(10, 124, 141, 0.3);
    padding: 8px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 10px;
    white-space: nowrap;
    font-size: 1.30em;
    transition: background-color 0.3s;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);

}

.navbar .loaded{
    background-color: rgba(10, 124, 141, 0.7);
    ;
}

@media screen and (max-width: 1401px) and (min-width: 1200px) {
    .navbar{
        padding: 7px;
    }

    .navbar li{
        padding: 7px;
        font-size: 1.15em;
    }
}

/* Changements des tailles de la navbar en fonction de la taille de l'écran */
@media screen and (max-width: 700px){
    .navbar{
        padding: 6px;
    }

    .navbar li{
        padding: 6px;
        font-size: 1em;
    }
}



/* Styles pour la Navbar Burger */
.navbar-toggle {
  display: none;
  cursor: pointer;
}

/* Media query pour les appareils mobiles */
@media screen and (max-width: 700px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    padding: 8px 15px;
    text-align: center;
    
  }

  .navbar-menu.active {
    display: block;
    list-style: none;
    padding: 0;
  }

  .navbar-menu li {
    display: block;    
    font-weight: bold;
    /*background-color: rgba(10, 124, 141, 0.3);*/
    padding: 8px;
    margin: 3px;
    border-radius: 10px;
    white-space: nowrap;
    font-size: 1.30em;
    transition: background-color 0.3s;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  }

  .navbar-menu li a {
    color: #fff;
    display: block; /* Faire en sorte que le lien soit un bloc pour permettre le dimensionnement */
    width: 100%; /* Occupera toute la largeur du li */
    height: 100%; /* Occupera toute la hauteur du li */
    text-decoration: none;
  }
  
  .navbar-toggle {
    display: block;
  }
  

}





/* Autres tailles
@media screen and (max-width: 1001px) and (min-width: 800px) {
        .navbar{
                padding: 5px;
        }
        
        .navbar li{
                padding: 5px;
                font-size: 0.80em;
        }
}

@media screen and (max-width: 801px) and (min-width: 600px) {
        .navbar{
                padding: 4px;
        }
        
        .navbar li{
                padding: 4px;
                font-size: 0.60em;
        }
}

@media screen and (max-width: 601px) {
        .navbar{
                padding: 3px;
        }
        
        .navbar li{
                padding: 3px;
                font-size: 0.40em;
        }
}*/



.navbar li:hover {
    background-color: #137C8B;
}

.navbar li:active {
    background-color: #344D59;
}

/* Style des liens (a) */
.navbar a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s; /* Transition pour le changement de couleur au survol */
}

/* ################################################# *
 * ################################################# *
 * ################################################# */


a {
    text-decoration: none;
    color: #709CA7;
}























